<div class="card mb-3">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="form-group">
                <label>Título</label>
                <input class="form-control" name="titulo" [(ngModel)]="body.titulo" required />
            </div>

            <div class="form-group">
                <label>Autor</label>
                <input class="form-control" name="autor" [(ngModel)]="body.autor" required />
            </div>

            <div class="form-group">
                <label>Genero</label>
                <input class="form-control" name="genero" [(ngModel)]="body.genero" required />
            </div>

            <div class="form-group">
                <label>Ano</label>
                <input class="form-control" name="ano" [(ngModel)]="body.ano" required />
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary mt-2" (click)="cancela.emit()">
                    Fechar
                </button>

                <button type="submit" class="btn btn-success ms-2 mt-2" [disabled]="form.invalid">
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>
